{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Addtaskall</title>
    <link type="text/css" rel="stylesheet" href="{% static 'lkusers/css/header.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'lkusers/css/ques.css' %}">
</head>

<body>
    <header class="header task-header">
        <div>
          <img src="{% static 'main/imgs/location.png' %}" alt="" class="nav-icon">
        </div>
        <div>
          <img src="{% static 'main/imgs/logo.png' %}" alt="" class="logo-icon">
        </div>
        <div>
          <a href="{% url 'Profile' %}" class="user-icon-link">
            <img src="{% static 'main/imgs/user.png' %}" alt="" class="user-icon">
          </a>
        </div>
    
      </header>

    <h2 class="now_ques_title">Существующие вопросы</h2>
    <div class="content addtask-main">
        <div class="user-inner user-inner-height">
            {% for task in task %}
            <div class="ques-center">
                <p class="ques-style">Название: {{ task.question }}</p>
                <p class="ques-style">Максимальное количество баллов: {{ task.max_points }}</p>
                <p class="ques-style">Точка на карте: {{ task.features }}</p>
                <hr>
            </div>
            {% endfor %}
            <form method="POST" class="user-inner form-inner-quiz">
                {% csrf_token %}
                <div class="types-of">
                    <label for="" class="type-title">Типы задач</label>
                    {{ form1.task_type}}
                </div>
               
                <label for="">Точка на карте</label>
                {{ form1.features }}

                <label for="" class="name_quiz">Вопрос</label>
                {{ form1.question }}

                <label for="" class="type-title">Максимальное количество баллов</label>
                {{ form1.max_points }}
                <button type="submit" class="create">добавить вопрос</button>
                <button class="create profile"><a href="{% url 'Profile' %}">вернутся в профиль</a></button></p>
            </form>
           
         
        </div>
    </div>
</body>

</html>