<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Addtaskall</title>
</head>
<body>
    <h2>Существующие вопросы</h2>
    {% for task in task %}
        <p>{{ task.question }}</p>
        <p>{{ task.max_points }}</p>
        <p>{{ task.task_type }}</p>
        <p>{{ task.features }}</p>
        <hr>
    {% endfor %}
    <form method="POST">
    {% csrf_token %}
    {{ form1.as_p }}
    <button type="submit">добавить вопрос</button>
  </form>
    <button><a href="{% url 'Profile' %}">вернутся в профиль</a></button></p>
</body>
</html>