<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Addtaskall</title>
</head>
<body>
    <form method="POST">
    {% csrf_token %}
    {{ form1.as_p }}
    <button type="submit">Create questions</button>
  </form>
    <hr>
    <form method="POST">
    {% csrf_token %}
    {{ form2.as_p }}
    <button type="submit">Create questions</button>
  </form>
    <hr>
<form method="POST">
    {% csrf_token %}
    {{ form3.as_p }}
    <button type="submit">Create questions</button>
  </form>
</body>
</html>