{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lkusers/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'lkusers/css/style.css' %}">
    <title>Document</title>
</head>

<body>
    <!-- <h3>Викторины пользователей</h3>
    {% for j in all_quiz %}
    <li>
        <h2>{{j.name_quiz}}:{{j.quiz_descriptions}}</h2>
        <button><a href="add/edit/{{j.id}}">Редектировать викторину</a></button></p>
    </li>
    {% endfor %}

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.cdnfonts.com/css/furore" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Document</title>
    </head> -->

    <body>
        <header class="header">
            <div>
                <img src="{% static 'main/imgs/location.png' %}" alt="" class="nav-icon">
            </div>
            <div>
                <img src="{% static 'main/imgs/logo.png' %}" alt="" class="logo-icon">
            </div>
            <div>
                <a href="{% url 'Profile' %}" class="user-icon-link">
                    <img src="{% static 'main/imgs/user.png' %}" alt="" class="user-icon">
                </a>
            </div>
    
        </header>
        <main class="main user-profile-vics">
            <div class="content">

                <div class="v">
                    <h1 class="myvics-title myquiz-btn">ВИКТОРИНЫ</h1>
                    <div class="vics-items v2">
                        {% for j in his_quiz %}
                        <div class="vic-item">
                            <li class="vic-item-bd">
                                <div class="vic-title vic-title-margin">{{j.name_quiz}}:{{j.quiz_descriptions}}</div>
                                <a class="vic-link" href="add/edit/{{j.id}}">Редектировать викторину</a>
                            </li>
                        </div>
                        {% endfor %}
                    </div>
                </div>

              

            </div>
            <div class="man-myvics">
                <div>
                    <img src="{% static 'main/imgs/man.png' %}" alt="" class="man-vics-icon">
                </div>
            </div>
        </main>
       
    </body>

</html>
</body>

</html>