{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profilee</title>
    <link type="text/css" rel="stylesheet" href="{% static 'lkusers/css/style.css' %}">

</head>

<body>
    <!-- <h1>Profileee_admin</h1> -->

    <!-- <button><a href="{% url 'Task' %}">Добавить вопрос</a></button></p>
    <button><a href="{% url 'Objcets' %}">Добавить точку</a></button></p>
    <ul class="hr">
        <h3>История прохождения викторин пользователями</h3>
        {% for i in history %}
        <li>
            <h2>{{i.points}}:{{i.quiz.name_quiz}}</h2>
            <h3>{{i.user.username}}</h3>
        </li>
        {% endfor %}
    </ul>
    <ul class="hr"> -->
        <!-- <h3>Мои пройденные викторины</h3>
            {% for k in his_history %}
            <li>
                <h2>{{k.points}}:{{k.quiz.name_quiz}}</h2>
                <h2>{{k.user.username}}</h2>
                <button><a href="{% url 'quiztask' pk=k.quiz.id %}">Пройти еще раз</a></button>

            </li>
            {% endfor %}
        </ul>
        <ul class="hr"> -->
        <!-- <h3>Викторины пользователей</h3>
        {% for j in all_quiz %}
        <li>
            <h2>{{j.name_quiz}}:{{j.quiz_descriptions}}</h2>
            <button><a href="add/edit/{{j.id}}">Редектировать викторину</a></button></p>
        </li>
        {% endfor %}
    </ul> -->



    <header class="header">
        <div class="nav-icon"></div>
        <div class="logo-icon"></div>
        <div class="user-icon">
            <a href="reg.html" class="user-icon-link">

            </a>
        </div>
    </header>
    <main class="main">
        <div class="content">
            <div class="user-inner">
                <div class="user-stat">
                    <div class="logo-user"></div>
                    <div class="user-name">
                        <h1>{{ name.user.username }}</h1>
                    </div>
                    <div class="points">
                        <div class="points-inner">
                            <div class="cirlce"></div>
                            <h2 class="p">{{ name.points }}</h2>
                        </div>
                    </div>
                </div>
                <div class="user-btns">
                    <a class="create" href="add/quiz">СОЗДАТЬ ВИКТОРИНУ</a>
                    <a class="victs" href="{% url 'users_vics' %}">ВИКТОРОИНЫ ПОЛЬЗОВАТЕЛЕЙ</a>
                    <a class="create" href="{% url 'Task' %}">Добавить вопрос</a>
                    <a class="create" href="{% url 'Objcets' %}">Добавить точку</a>
                </div>
                <!-- <h3>Мои пройденные викторины</h3>
                    {% for k in his_history %}
                    <li>
                        <a href="{% url 'quiztask' pk=k.quiz.id %}">{{k.points}}:{{k.quiz.name_quiz}}</a>
                        <h2>{{k.user.username}}</h2>
                        <button><a href="{% url 'quiztask' pk=k.quiz.id %}">Пройти еще раз</a></button>
                    </li>
                    {% endfor %}
                </ul> -->

                <div class="victorins">
                    <div class="vics-title">
                        <h1>История прохождения викторин пользователями</h1>
                    </div>
                    {% for i in history %}
                    <li>
                        <h2>{{i.points}}:{{i.quiz.name_quiz}}</h2>
                        <h3>{{i.user.username}}</h3>
                    </li>
                    {% endfor %}

                </div>
            </div>
        </div>

    </main>
</body>

</html>